<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Plat Farmer - Ogg Technologies</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div class="steps-container">
            <button v-on:click="tabClicked('missions')" class="missions">Missions</button>
            <button v-on:click="tabClicked('relics')" class="relics">Relics</button>
            <button v-on:click="tabClicked('primes')" class="primes">Primes</button>
        </div>
        <div class="steps-container">

            <!-- Tab for all Missions -->
            <div v-bind:class="{ 'active-tab': currentTab==='missions' }" class="missions tab">
                <div v-for="entry in missions">
                    {{entry.name}}
                </div>
            </div>

            <!-- Tab for all Relics -->
            <div v-bind:class="{ 'active-tab': currentTab==='relics' }" class="relics tab">
                <div v-for="relic in relics">
                    {{relic.Name}}
                </div>
            </div>

            <!-- Tab for all Primes -->
            <div v-bind:class="{ 'active-tab': currentTab==='primes' }" class="primes tab">
                <div v-for="prime in primes">
                    {{prime.Name}} : {{prime.EstimatedVaultedDate}}
                </div>
            </div>

        </div>
    </div>
</body>
<script src="data/missionsDataJson.js"></script>
<script src="data/primesDataJson.js"></script>
<script src="script.js"></script>

</html>