/* Main */
body{
    background-color:#fff;
}

/* Tabs */
.steps-container {
    display:flex;
}
.steps-container>button{
    font-size:25px;
    flex:1;
    border: none;
    outline:none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.steps-container>div{
    flex:1;
    padding: 5px;
}
.tab{
    display:none;
}
@media screen and (min-width:600px) {
    .tab{
        display:block;
    }
}
.active-tab{
    display:block;
}
.missions{
    background-color: rgb(242, 139, 130);
}
.relics{
    background-color: rgb(204, 255, 144);
}
.primes{
    background-color: rgb(174, 203, 250);
}
